f/*...........................................
RESET
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

ol,ul,li{
	list-style: none;
}
h1,h2, h3,p,ul {
	margin: 0;
}
a{
	text-decoration:none;
}

/*......................................
		BODY
....................................*/
html, body {
	margin:0;
	background: #fff;
	
}
.side{
	width: 100%;
	height: 100%;
	background: #06050b;

}
.pro-wrap{
	width: 100%;
	background: #fff;
}
/*.......................................
NAV
.........................................*/
.navigator{
	background: #ffa200;
	text-align: right;
	box-shadow: 0px 0px 2px black;
	position: fixed;
	width: 100%;
	border-bottom-left-radius: 50px;
}
.navigator ul {
	font-family: Roboto,Constantia,"Blood Omen",Arial, sans-serif;
	font-size: 20px;
	font-weight: 600;
	padding: 0 0 10px 0;  
}
.navigator li {
	display: inline-block;
	margin-top: 20px;
}
.navigator a {  
color:rgba(0, 0, 0, 0.8); 
padding: 12px 10px;
padding-bottom: 40px;
font-family: Roboto,Constantia,"Blood Omen",Arial, sans-serif;

}
.navigator a:hover {  
color: #3f4042 ;  
/*.......................................
	START SECTION
......................................*/
}
.hero{
	background-image:url(../img/p.jpg);
	height: 100%;
    background-attachment: top-fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 2%;
    border-radius: 0 0 100px;
}
.start{
	padding-top: 10px;
	text-align: center;
	width: 60%;
}
.start h1{
	font-size: 50px;
	color:white;
	font-family: 'Crete Round',Constantia,"Blood Omen",Arial, sans-serif;
	margin-top: 45%;
	text-shadow:1px 2px 3px black;
}
.start h2{
	font-family:Roboto,Constantia,"Blood Omen",Arial, sans-serif;
	font-size: 40px;
	color: #ffa200;
	text-shadow:1px 2px 3px black;
	padding-right: 60px;
}
/*..............................................
SOCIAL SECTION
..............................................*/
.social{
	width: 60%;
	padding: 15px 0;
	margin-left: 11%;
	margin-bottom: 5%;
}
.social a {
	color: white;
	font-size: 50px;
	padding: 20px;
	text-shadow:1px 2px 3px black;
}
.social a :hover{
	color:#ffa200;

}
/*...............................................
ABOUT
..............................................*/

.mgs{
	padding-top: 5%;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	border-radius: 100px 0 0 100px;
	background: #fff;
}
.about{
	width: 80%;
	margin: 0 auto;
}
.about p{
	width: 50%;
	margin: 0 auto;
	font-size: 20px;
	color: black;
	font-family: 'Adobe Fangsong Std',Consolas,Arial, sans-serif;
	padding: 0px 50px 30px 30px;
	margin-right: 1px;
}

h3{
	font-family: Roboto,Constantia,"Blood Omen",Arial, sans-serif;
	font-size: 25px;
	float: left;
	margin-top: 3%;
	padding: 20px;
	font-variant: small-caps;
	font-weight: inherit;
}
/*
..........................................................
PROJECTS
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.projects{
	width: 90%;
	background: #06050b;	
	border-radius: 0 100px 100px 0;
}
.pros{
	font-size: 100px;
	color: #ffa200;
	font-size: 20px;
	line-height: 30px;
	color: #0b050f;
	padding: 5% 0 10% 0;
	
}
.pros h2{
	width: 20%;
	margin: 0 auto;
	font-family: Roboto,Constantia,"Blood Omen",Arial, sans-serif;
	margin-bottom: 3%;
	padding: 20px;
	background: #ffa200;
	text-align: center;
}
.pros a {
	margin: 0 auto;
	padding:20px ;

}
.pros a:hover{
	border-left: 10px solid #ffa200;
    /*padding-left: 5%;*/
}
/*....................................................
PROJECTS PAGES
....................................................*/

.pro-page{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.pro-page span{
	float: left;
    padding: 20px;
    margin: 1% 0 0 6%;
    font-size: 20px;
    border-radius: 50%;
    background: #ffa200;
    color: #000;

}.pro-page h1{
	font-size: 40px;
	font-family: Roboto,Constantia,"Blood Omen",Arial, sans-serif;
	margin-right: 6%;
}
.pro-page p{
	font-family: 'Adobe Fangsong Std',Consolas,Arial, sans-serif;
	font-size: 30px;
	margin-right: 6%;
}
.pro-page img{
	width: 90%;
	margin: 0 auto;
}
.pro-page li{
	font-size: 40px;
	padding: 10px;
	list-style:disc;
	color: #fff;
}
.pro-page ul{
	background: #0b050f;
	font-family: 'Adobe Fangsong Std',Consolas,Arial, sans-serif;
}

/*...............................................
CONTACT 
...............................................*/
.contact{
	width: 100%;
	margin: 0 auto;
	padding-bottom: 50%;
	border-top-left-radius: 100px;
	clear: both;
	background: #fff;

}
.contact-area{
	width: 80%;
	margin: 0 auto;
}

/*..................................................
FORM
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.form-area{
	float: left;
	padding-bottom: 20px;
	background:#06050b;
	margin-top: 60px;
	border-radius:  20px 0 0 0;
}
h4{
	font-family:Roboto,Constantia,"Blood Omen",Arial, sans-serif;
	font-size: 30px;
	padding: 20px;
	margin: 0;
	color: #ffa200;
}
.form-group{
	margin: 20px;

}
.form-group input{
	width: 427px;
	height: 40px;
}
.form-control{
	width: 427px;
	height: 171px;
}
form a{
	margin-left: 20px;
	font-size: 20px;
	padding: 5px 5px;
	border: 2px solid black;
	text-decoration:none;
	border-radius: 1px;
	display: inline-block;
	margin-top:10px;
	background:#ffa200;
	color: black;
	cursor: pointer;

}
form a:hover{
	box-shadow:inset 2px 2px 5px black;
}
.form-group textarea{
	margin-top: 20px;
}

/*.......................................................
OTHER CONTACTS
........................................................*/
.contacts{
	width: 50%;
	margin: 0 auto;
	float: left;
	margin-top: 60px;
	margin-left: 2%;

	
}
.info {
	width: 50%;
	margin: 0 auto;
	background:#06050b;
	padding: 0 55px 30px 0 ;
	margin-top: 20px;

	
}
.info p{
	font-family: 'Adobe Fangsong Std',Consolas,Arial, sans-serif;
	font-size: 20px;
	margin-left: 15px;
	line-height: -20%;
	font-weight: 800;
	color: white;
}

/*...............................................
FOOTER 
...............................................*/
footer{
	text-align: center;
	background:#ffa200;
	padding: 50px;
	clear: both;
	/*box-shadow: 1px 0px 10px black;*/
	border-top-right-radius: 70px;

}
footer small{
	font-family:Roboto,Constantia,"Blood Omen",Arial, sans-serif;
	font-size: 15px;
	color: #0b050f;;
	letter-spacing: 2px;
	padding: 10px;
	font-weight: 600;

}
.footer-social{
	font-size: 25px;
	letter-spacing: 10px;
}
.footer-social a{
	color:#0b050f;);
}
.footer-social a:hover{
	color: white;
}


